### Spectre Imaging ###

---

In [1]:
import pandas as pd

### Spectre ###

---

Steps to follow:

- Determine overhead amount
- Identify the allocation base: revenues
- Allocate to product lines

--

**Determine overhead amount for each quarter:**

In [2]:
last_oh = 320
this_oh = 370

---

**Last quarter data**

In [3]:
last_qtr = pd.DataFrame(data = {'Revenues':[500, 700], 'DivisionExpenses':[315, 308]}, index = ['Hardware' , 'Software']).T
last_qtr = last_qtr.assign(Total = last_qtr.sum(axis = 1))
last_qtr

                  Hardware  Software  Total
Revenues               500       700   1200
DivisionExpenses       315       308    623

**Allocation based on Total Revenues:**

In [4]:
last_alloc  = last_qtr[['Hardware', 'Software']].div(last_qtr['Total'], axis = 0)
last_alloc

                  Hardware  Software
Revenues          0.416667  0.583333
DivisionExpenses  0.505618  0.494382

In [5]:
print(f'Use the percentages from above to allocate ${last_oh}')
last_alloc = last_alloc.loc['Revenues'].to_frame().T*last_oh
last_alloc.index = ['Overhead']
last_alloc

Use the percentages from above to allocate $320

            Hardware    Software
Overhead  133.333333  186.666667

In [6]:
# Add allocation to the first table
last_qtr = pd.concat([last_qtr, last_alloc]).T
last_qtr = last_qtr.T.assign(Total = last_qtr.T.drop('Total', axis=1).sum(axis = 1)).T
last_qtr

          Revenues  DivisionExpenses    Overhead
Hardware     500.0             315.0  133.333333
Software     700.0             308.0  186.666667
Total       1200.0             623.0  320.000000

**Determine profit as Revenues minus the sum of Overhead and Division Expenses**

In [7]:
last_qtr = last_qtr.assign(Profit = last_qtr['Revenues'] - last_qtr[['Overhead', 'DivisionExpenses']].sum(axis=1))
last_qtr

          Revenues  DivisionExpenses    Overhead      Profit
Hardware     500.0             315.0  133.333333   51.666667
Software     700.0             308.0  186.666667  205.333333
Total       1200.0             623.0  320.000000  257.000000

---

**This quarter data**

In [8]:
this_qtr = pd.DataFrame(data = {'Revenues':[510, 400], 'DivisionExpenses':[321.3, 176]}, index = ['Hardware' , 'Software']).T
this_qtr = this_qtr.assign(Total = this_qtr.sum(axis = 1))
this_qtr

                  Hardware  Software  Total
Revenues             510.0     400.0  910.0
DivisionExpenses     321.3     176.0  497.3

In [9]:
this_alloc  = this_qtr[['Hardware', 'Software']].div(this_qtr['Total'], axis = 0)
this_alloc

                  Hardware  Software
Revenues          0.560440  0.439560
DivisionExpenses  0.646089  0.353911

**Allocation based on revenues**

In [10]:
print(f'Use the percentages from above to allocate ${this_oh}')
this_alloc = this_alloc.loc['Revenues'].to_frame().T * this_oh
this_alloc.index = ['Overhead']
this_alloc

Use the percentages from above to allocate $370

            Hardware    Software
Overhead  207.362637  162.637363

In [11]:
this_qtr = pd.concat([this_qtr, this_alloc]).T
this_qtr = this_qtr.T.assign(Total = this_qtr.T.drop('Total', axis=1).sum(axis = 1)).T
this_qtr

          Revenues  DivisionExpenses    Overhead
Hardware     510.0             321.3  207.362637
Software     400.0             176.0  162.637363
Total        910.0             497.3  370.000000

**Determine profit as revenues minus the sum of Overhead and Division Expenses**

In [12]:
this_qtr = this_qtr.assign(Profit = this_qtr['Revenues'] - this_qtr[['Overhead', 'DivisionExpenses']].sum(axis=1))
this_qtr

          Revenues  DivisionExpenses    Overhead     Profit
Hardware     510.0             321.3  207.362637 -18.662637
Software     400.0             176.0  162.637363  61.362637
Total        910.0             497.3  370.000000  42.700000

Compare to last quarter:

In [13]:
last_qtr

          Revenues  DivisionExpenses    Overhead      Profit
Hardware     500.0             315.0  133.333333   51.666667
Software     700.0             308.0  186.666667  205.333333
Total       1200.0             623.0  320.000000  257.000000

As you can see, the  loss in Software's revenues affects the allocation. 

It makes sense:

- **Collaboration**: if Hardware wants a profit, it should help Software. This can be done because it is likely that both divisions empower their employees to collaborate.
- **Risk sharing**: what would happen if Software made a profit? Then obviously the manager of Hardware would not complain. So, the allocation system spreads the risks of sales over both departments. This allows both divisions to experiment with new technologies.


**Conclusion**: The exercise shows that firms can use the allocation system to encourage collaboration between units, and to take risks. 

The exercise if from Jerry Zimmerman's Accounting for decision making and control. Zimmerman is from Rochester NY, which once benefited from Kodak and Xerox.